<div class="container-fluid">
  <div class="row now-playing-bar-container">

    <div id="now-playing-bar">

      <div class="col-lg-3 col-md-3 hidden-xs" id="now-playing-bar-left">

        <div class="content">
          <span class="albumLink">
            <img src="https://upload.wikimedia.org/wikipedia/en/2/26/ManonTheMoonTheEndofDay.jpg" class="albumArtWork">
            <label class="albumLabel">{{currentTrack?.album.artist.name}}</label><br>
            <label class="albumLabel">{{currentTrack?.title}}</label>
          </span>
        </div>

      </div>

      <div class="col-lg-5 col-md-5 col-sm-4 col-xs-offset-2 col-xs-4 col-sm-offset-0" id="now-playing-bar-center">
        <div class="row content playerControls">
          <div class="button">
            <button class="controlButton shuffle mat-icon-button" title="Shuffle button" alt="Shuffle">
                <i class="material-icons md-light md-24">
                  shuffle
                </i>
            </button>

            <button class="controlButton skip-previous mat-icon-button" title="Skip previous button" alt="Previous">
                <i class="material-icons md-light md-36">
                  skip_previous
                </i>
            </button>

            <button class="controlButton play mat-icon-button" (click)="pressedButton()" title="Play button" alt="Play">
              <div *ngIf="!currentlyPlaying">
                <i class="material-icons md-light md-48">
                  play_circle_outline
                </i>
              </div>

              <div *ngIf="currentlyPlaying">
                <i class="material-icons md-light md-48">
                  pause_circle_outline
                </i>
              </div>
            </button>

            <button class="controlButton skip-next mat-icon-button" title="Skip next button" alt="Next">
                <i class="material-icons md-light md-36">
                  skip_next
                </i>
            </button>

            <button class="controlButton repeat mat-icon-button" title="Repeat button" alt="Repeat">
                <i class="material-icons md-light md-24">
                  repeat
                </i>
            </button>
          </div>

        </div>
        <div id="progressBar">
          <label class="text-white progressTime current">{{ currentTime }}</label>
          <mat-slider width="100%" min="0" max="1000" value="{{ songProgress }}" (input)="changeProgress($event)"></mat-slider>
          <label class="text-white progressTime remaining">{{ fullTime }}</label>
        </div>

      </div>

      <div class="col-lg-3 col-md-3 hidden-xs pull-right" id="now-playing-bar-right">
          <button class="controlButton volume mat-icon-button" (click)="mute()" title="Volume" alt="Volume">
            <i class="material-icons md-light md-24">
              <div *ngIf="!isMuted">
                    volume_up
              </div>
              <div *ngIf="isMuted">
                    volume_off
              </div>
            </i>
          </button>
        <mat-slider
        min="1"
        max="100"
        width="100%" min="0" max="100" value="{{ volume }}" (input)="changeVolume($event)"></mat-slider>
      </div>

    </div>
  </div>
</div>