<div id="now-playing-bar-container">

  <div id="now-playing-bar">

    <div id="now-playing-bar-left">

      <div class="content">
        <span class="albumLink">
          <img src="https://i.ytimg.com/vi/rb8Y38eilRM/maxresdefault.jpg" class="albumArtWork">
        </span>
      </div>

    </div>

    <div id="now-playing-bar-center">

      <div class="content playerControls">

        <div class="button">

          <button class="controlButton shuffle mat-icon-button" title="Shuffle button" alt="Shuffle">
              <i class="material-icons md-24">
                shuffle
              </i>
          </button>

          <button class="controlButton skip-previous mat-icon-button" title="Skip previous button" alt="Previous">
              <i class="material-icons md-36">
                skip_previous
              </i>
          </button>

          <button class="controlButton play mat-icon-button" (click)="pressedButton()" title="Play button" alt="Play">
            <div *ngIf="!currentlyPlaying">
              <i class="material-icons md-48">
                play_circle_outline
              </i>
            </div>

            <div *ngIf="currentlyPlaying">
              <i class="material-icons md-48">
                pause_circle_outline
              </i>
            </div>
          </button>

          <button class="controlButton skip-next mat-icon-button" (click)="getDuration()" title="Skip next button" alt="Next">
              <i class="material-icons md-36">
                skip_next
              </i>
          </button>


          <button class="controlButton repeat mat-icon-button" (click)="test2()" title="Repeat button" alt="Repeat">
              <i class="material-icons md-24">
                repeat
              </i>
          </button>

        </div>

      </div>
      
      <!-- <div class="playbackBar"> -->
          
          <!-- <span class="progressTime current">0.00</span> -->



          <!-- <mat-progress-bar mode="determinate" value="{{ songProgress }}"></mat-progress-bar> -->
          <mat-slider width="100%" min="0" max="100" value="{{ songProgress }}" (change)="onProgressSliderChange()" (input)="changeProgress($event)"></mat-slider>

          <!-- <span class="progressTime remaining">0.00</span> -->

      <!-- </div> -->

    </div>

    <div id="now-playing-bar-right">

    </div>

  </div>

</div>