<!-- <div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/song-create']"><mat-icon>add</mat-icon></a>
</div> -->
<!-- <div class="example-container"> -->
  <!-- <table mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="song_title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element" class="isbn-col"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="album_name">
      <th mat-header-cell *matHeaderCellDef> Album </th>
      <td mat-cell *matCellDef="let element" class="isbn-col"> {{element.album.title}} </td>
    </ng-container>

    <ng-container matColumnDef="track_number">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let element" class="isbn-col"> {{element.track_number}} </td>
    </ng-container>

    <ng-container matColumnDef="artist_name">
      <th mat-header-cell *matHeaderCellDef> Artist </th>
      <td mat-cell *matCellDef="let element"> {{element.album.artist.name}} </td>
    </ng-container>

    <ng-container matColumnDef="published_year">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let element"> {{element.album.release_date}} </td>
    </ng-container>

    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="newMessage(row)"></tr>
  </table> -->



  <!-- <ol>   
      <li *ngFor="let element of songs; let i = index">
        <app-track 
          [trackToDisplay]="element"
          (onClickPlay)="newMessage($event)">
        </app-track>
      </li>
    </ol> -->
  <div class="bg container-fluid">
    <span>
        <img [src]=artistImage class="artistArtWork">
        <label class="albumLabel">{{trackInfo?.album.artist.name}}</label><br>
        <label class="albumLabel">{{trackInfo?.album.artist.description}}</label>
    </span>
  </div>
  <app-track
    [tracksToDisplay]="songs"
    (onClickPlay)="newSongPlayed($event)">
  </app-track>
  <!-- <div class="container-fluid scrollable-table bg">
    <table class="row table table-bordered table-stripped table-hover">
      <thead>
        <tr>
          <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">#</th>
          <th class="col-lg-8 col-md-8 col-sm-8 col-xs-8">TITLE</th>
          <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">RELEASE DATE</th>
          <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">+</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of songs; let i = index">
          <td>{{ element.track_number }}</td>
          <td><app-track 
            [trackToDisplay]="element"
            (onClickPlay)="newMessage($event)">
          </app-track>{{ element.title }}</td>
          <td>{{ element.album.release_date }}</td>
          <td>
            <button class="mat-icon-button controlButton">
            <i class="material-icons md-dark md-24">
              playlist_add
            </i>
          </button>
        </td>
        </tr>
      </tbody>
    </table>
  </div> -->
<!-- </div> -->

<!-- <app-track></app-track> -->