<!-- <div class="container top-block">

</div> -->

<div class="container-fluid">
  <div class="row top-block">
    <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
      <!--LOGO HERE-->
      LOGO
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6">
        <input class="searchBox" matInput placeholder="Search" value="{{ searchBox }}">
        <!-- <mat-icon class="material-icons md-light md-24">search</mat-icon> -->
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <button class="mat-icon-button controlButton pull-right"><mat-icon class="material-icons md-light md-36">home</mat-icon></button>
      <button class="mat-icon-button controlButton pull-right"><mat-icon class="material-icons md-light md-36">account_circle</mat-icon></button>
      <button class="mat-icon-button controlButton pull-right"><mat-icon class="material-icons md-light md-36">power_settings_new</mat-icon></button>
    </div>
  </div>
</div>