<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="row top-block sticky-top">
      <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
        <!--LOGO HERE-->
        <img src="../../assets/imgs/Mo-music-logo.png" class="logo">
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
          <input class="searchBox" matInput placeholder="Search" value="{{ searchBox }}">
          <!-- <mat-icon class="material-icons md-light md-24">search</mat-icon> -->
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <button class="mat-icon-button controlButton pull-right"><mat-icon class="material-icons md-light md-36">power_settings_new</mat-icon></button>
        <button class="mat-icon-button controlButton pull-right"><mat-icon class="material-icons md-light md-36">account_circle</mat-icon></button>
        <button class="mat-icon-button controlButton pull-right"><mat-icon class="material-icons md-light md-36">home</mat-icon></button>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar navbar-fixed-left">
  <div class="container-fluid left-block fill pull-left">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 btn-group-vertical">
          <h3><ul class="left-menu-group-btns">
            <li><button class="mat-icon-button controlButton">ALBUMS</button></li>
            <li><button class="mat-icon-button controlButton">PLAYLISTS</button></li>
            <li><button class="mat-icon-button controlButton">ARTISTS</button><br></li>
            <li><button class="mat-icon-button controlButton">FEED</button></li>
          </ul></h3>
        </div>
    </div>
  </div>
</nav>