<!-- b0c6af -->
<!-- <button class="mat-icon-button controlButton" (click)="clickedPlay()">
    <i class="material-icons md-dark md-24">
        play_circle_outline
    </i>
</button> -->

<div class="container-fluid scrollable-table">
    <table class="row table table-bordered table-stripped table-hover">
      <thead>
        <tr>
          <th class="col-lg-1 col-md-1 col-sm-1 hidden-xs">#</th>
          <th class="col-lg-8 col-md-8 col-sm-8 col-xs-8">TITLE</th>
          <th class="col-lg-2 col-md-2 col-sm-2 hidden-xs">RELEASE DATE</th>
          <th class="col-lg-1 col-md-1 col-sm-1 hidden-xs">+</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of songs; let i = index">
          <td class="hidden-xs">{{ element.track_number }}</td>
          <td class="col-xs-12"><button class="mat-icon-button controlButton" (click)="clickedPlay(element)">
            <i class="material-icons md-dark md-24">
                play_circle_outline
            </i>
        </button>{{ element.title }}</td>
          <td class="hidden-xs">{{ element.album.release_date }}</td>
          <td class="hidden-xs">
            <button (click)="showPlaylists(element._id)" class="mat-icon-button controlButton">
            <i class="material-icons md-dark md-24">
              playlist_add
            </i>
          </button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4>Add a song to playlist</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="title">All playlists</label><br>
              <ol>
                <li *ngFor="let element of playlists; let i = index">
                  <a (click)="addToPlaylist(element._id)">{{ element.title }}</a></li>
              </ol>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger" (click)="closeModal()">CANCEL</button>
            <!-- <button class="btn btn-success">ADD <i class="material-icons md-dark md-18">add_circle_outline</i></button> -->
          </div>
        </div>
      </div>
    </div>