/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }



/* GOOGLE MATERIAL.IO ICONS */
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: #FFFFFF }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.controlButton{
    background-color: transparent;
    border: none;
    vertical-align: middle;
}

.controlButton:hover{
    cursor: pointer;
}

/* .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
    top: 18px;
  } */
  .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
    height: 8px;
    border-radius: 10px
  }
  .mat-slider.mat-slider-horizontal .mat-slider-track-background,
  .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    height: 100%;
  }
  .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    background-color: #71babe;
  }
  .mat-accent .mat-slider-thumb {
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border: solid 3px #aaaaaa;
    bottom: -13px;
    right: -13px;
  }
  .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
    background-color: white;
  }